<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flight Data</title>
    <link rel="stylesheet" href="/public/css/foundation.css">
</head>
<body>
    <div id="content">
        <img id="manufacturer_img" src="%%MFR_IMAGE%%" alt="%%MFR_ALT_TEXT%%" />
        <h1 id="manufacturer_name">%%TOPIC%%</h1>
        <div class="clear"></div>
        <table>
            <thead>
                <tr>
                    <th class="flight_title">Flights</th>
                    <th>Date</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Flight Count</th>
                    <th>Seats</th>
                    <th>Passenger Count</th>
                    <th>Distance</th>
                    <th>Dest Pop.</th>
                </tr>
            </thead>
            <tbody>
                %%FLIGHT_INFO%%
            </tbody>
        </table>
</body>
</html>
